zshrcs/secrets.zsh

lein/repl-history
lein/self-installs/*
/lein/credentials.clj.gpg
gitconfigs/gpg_config
gitconfigs/*
/fish/fishd.caenarfon
/fish/secret.fish
/fish/fish_variables
/fish/fishd.warwick
fish/functions/fish_prompt.fish
maid/maid.log
