Host *
  Compression yes
  ForwardAgent yes
  TCPKeepAlive no
  ServerAliveInterval 20
  ServerAliveCountMax 10

Host rlmflores.me
  User apps
  Hostname 173.255.241.31

Host zlr.com.br
  Hostname 50.57.225.89 
  User apps

Host blog.rlmflores.me
  Hostname 208.68.38.166
  User apps
